#banner
  .banner_content
    %h1 FileCabinet
    %p Your life's work. Organized, always.
    %button= link_to "Enter", new_user_registration_path

#callouts
  .callout_inner
    .wrapper
      .callout
        %h2 Organize
        %p Cornhole flannel quinoa flexitarian everyday carry banjo. Vice hashtag viral, 8-bit man braid raw denim brooklyn helvetica direct trade. Tousled ramps organic retro keytar, cronut beard migas. Selvage meh literally cornhole tumblr. Messenger bag shabby chic blog, kitsch umami pabst iPhone kale chips skateboard austin.

#bottom_cta
  .wrapper
    %h2 Go ahead!
    %br
    %button= link_to "Join Now", new_user_registration_path
